{% extends "layouts/app.html" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mt-5">ToDo List</h1>
            <form id="todo-form" class="mb-3">
                <div class="input-group">
                    <input type="text" id="todo-input" class="form-control" placeholder="Add a new task" required>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
            <ul id="todo-list" class="list-group"></ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-3 mb-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Task title</h5>
            <p class="card-text">Task Description</p>
            <a href="#" class="card-link">edit</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>
    </div>
    </div>
  </div>
{% endblock %}