{% extends "layouts/app.html" %}

{% block title %}ToDo App{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <table>
        <thead>
            <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Done</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ list.title }}</td>
            <td>{{ list.description }}</td>
            <td>
               {{list.is_done}}
            </td>
            <td class="d-flex justify-content-center">
                <a href="{% url 'edit-list' list.id %}" class="btn btn-primary me-2">Edit</a>
                <a href="{% url 'view-list' list.id %}" class="btn btn-dark me-2">View</a>
                 <form action="{% url 'delete-list' list.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}